.schedule {
  font-family: "Open Sans", sans-serif;
  line-height: 1.25;
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.schedule caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
  text-align: center;
  color: #000;
  caption-side: top;
  padding: 0;
}

.schedule tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: 0.35em;
}

.schedule th,
.schedule td {
  padding: 0.625em;
  text-align: center;
  border: 1px solid #ccc;
}

.schedule th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  .schedule {
    /* border: 0; */
  }

  .schedule caption {
    font-size: 1.3em;
  }

  .schedule thead {
    /* border: none; */
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .schedule tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: 0.625em;
  }

  .schedule td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .schedule td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  .schedule td:last-child {
    /* border-bottom: 0; */
  }

  .arrow {
    opacity: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: 50% 50%;
    transform: translate3d(-50%, -50%, 0);
  }

  .arrow:before,
  .arrow:after {
    background: #000;
    content: "";
    display: block;
    height: 3px;
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
  }

  .arrow:before {
    transform: rotate(45deg) translateX(-23%);
    transform-origin: top left;
  }

  .arrow:after {
    transform: rotate(-45deg) translateX(23%);
    transform-origin: top right;
  }
}
